body {
  text-align: center;
  background-color: hsl(194, 46%, 27%);
  color: #f68f1e;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  background-color: rgb(255, 255, 255);
}

img {
  max-width: 300px;
}